.Rproj.user
.Rhistory
.RData
.Ruserdata

# data files and their archives
*.csv
*.xls
*.xlsx
*.zip
site
!inst/testdata/*.csv

# env file
*.env
!host_template/*.env
!host_template/.env
local.env.txt
!rcc.log.db/.env

# local credentials databases
credentials/*

# produced vignettes
vignettes/*.html
vignettes/*.R
vignettes/*.pdf
doc
Meta
/doc/
/Meta/
inst/doc
docs
